<footer class="bg-dark text-light mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-3">Món Ngon Tại Nhà</h5>
                <p class="mb-3">Đặt món ăn yêu thích từ hàng nghìn nhà hàng trên toàn quốc. Giao hàng nhanh chóng và tiện lợi.</p>
                <div class="d-flex">
                    <a href="#" class="text-light me-3" title="Facebook">
                        <i class="fab fa-facebook-f fa-lg"></i>
                    </a>
                    <a href="#" class="text-light me-3" title="Instagram">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                    <a href="#" class="text-light me-3" title="Twitter">
                        <i class="fab fa-twitter fa-lg"></i>
                    </a>
                    <a href="#" class="text-light" title="YouTube">
                        <i class="fab fa-youtube fa-lg"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h6 class="mb-3">Hỗ trợ khách hàng</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-light text-decoration-none">Trung tâm trợ giúp</a></li>
                    <li class="mb-2"><a href="#" class="text-light text-decoration-none">Liên hệ chúng tôi</a></li>
                    <li class="mb-2"><a href="#" class="text-light text-decoration-none">Câu hỏi thường gặp</a></li>
                    <li class="mb-2"><a href="#" class="text-light text-decoration-none">Báo cáo vấn đề</a></li>
                    <li class="mb-2"><a href="#" class="text-light text-decoration-none">Gửi phản hồi</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h6 class="mb-3">Đối tác</h6>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="text-light text-decoration-none">Đăng ký nhà hàng</a></li>
                    <li class="mb-2"><a href="#" class="text-light text-decoration-none">Trở thành tài xế</a></li>
                    <li class="mb-2"><a href="#" class="text-light text-decoration-none">Quảng cáo với chúng tôi</a></li>
                    <li class="mb-2"><a href="#" class="text-light text-decoration-none">API cho doanh nghiệp</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h6 class="mb-3">Tải ứng dụng</h6>
                <div class="mb-3">
                    <a href="#" class="btn btn-outline-light btn-sm me-2 mb-2">
                        <i class="fab fa-apple me-1"></i> App Store
                    </a>
                    <a href="#" class="btn btn-outline-light btn-sm mb-2">
                        <i class="fab fa-google-play me-1"></i> Google Play
                    </a>
                </div>
                <p class="small mb-0">Tải app để trải nghiệm tốt hơn</p>
            </div>
        </div>
        <hr class="my-4">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="mb-0 small">&copy; 2026 Món Ngon Tại Nhà. Tất cả quyền được bảo lưu.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="#" class="text-light text-decoration-none me-3 small">Điều khoản sử dụng</a>
                <a href="#" class="text-light text-decoration-none me-3 small">Chính sách bảo mật</a>
                <a href="#" class="text-light text-decoration-none small">Chính sách cookie</a>
            </div>
        </div>
    </div>
</footer>
